.in-game {
  font-family: "Determination Mono";
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;  // kiiiinda helps but not really :(

  cursor: default;
  background: black;
  color: white;

  height: 100vh;

  font-size: 32px;
}
