html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.editor {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.chart-container {
  flex: 1;

  display: flex;  /* causes 100% height in child */
}
