@import '~bootstrap/less/bootstrap';

@font-face {
  font-family: "Determination Mono";
  src: url("../assets/DeterminationMonoWeb.woff") format("woff");
}

@import './in-game';
@import './attract';
@import './song-list';

@import './editor';
@import './player';

img, canvas {
  image-rendering: pixelated;
  -moz-image-rendering: crisp-edges;
  image-rendering: -webkit-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

