@import '~bootstrap/less/bootstrap';

.editor, .player {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.chart-container {
  flex: 1;
  display: flex;  /* causes 100% height in child */
  margin: 5px;  /* Add margin so focus outline is visible */
}

.player {
  svg.chart {
    display: block;
    background: rgba(0, 0, 0, .5);
    margin: 0 auto;
  }
}

.youtub {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -5;
  top: 0;
}

/* prevent clicking on youtub */
.youtub-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -4;
  top: 0;
}

.info-overlay {
  position: fixed;
  z-index: 5;
  background: rgba(0, 0, 0, .7);
  left: 0;
  bottom: 0;
  padding: 10px;

  color: white;

  a {
    color: white;
    text-decoration: underline;
  }
}
