.song-list-container {
  font-size: 32px;
  overflow: hidden;

  display: flex;
  align-items: center;

  .arrow-container {
    flex: 0 0 auto;
    padding: 20px;
    min-width: 100px;  // 60px arrow + 40px padding
  }
}

.song-list {
  flex: 1 auto;

  display: flex;
  height: 100vh;
  align-items: center;
}

.song-item {
  text-align: center;
  flex: 1 0 100%;

  display: flex;
  flex-flow: column;
  align-items: center;

  .difficulties {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    li {
      position: relative;

      .arrow {
        position: absolute;
        left: -20px;
        top: 15px;
        animation: arrow-bounce 1s infinite;
        animation-timing-function: linear;
      }
    }
  }
}

@keyframes arrow-bounce {
  0% {
    left: -20px;
  }

  50% {
    left: -25px;
  }

  100% {
    left: -20px;
  }
}


/* Song item slide animation */

.song-item {
  position: relative;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.song-item-enter {
  left: 100%;
}

.song-item-enter.song-item-enter-active {
  left: 0;
}

.song-item-leave {
  left: -100%;
}

.song-item-leave.song-item-leave-active {
  left: -200%;
}

.backward .song-item-enter {
	left: -100%;
}

.backward .song-item-enter.song-item-enter-active {
	left: 0;
}

.backward .song-item-leave.song-item-leave {
  left: -100%;
}

.backward .song-item-leave.song-item-leave-active {
	left: 0;
}
